<suite name="Test Suite">
    <listeners>
        <listener class-name="listeners.SimpleListener"/>
    </listeners>

    <test name="Regression Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="scripts.VerifySearchTest">
<!--                <methods>-->
<!--                    <include name ="verifyBookingByHomeTool"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>